/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Reset */
 body, div, header, footer, section, h1,
 h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;

 }

 ul {
   list-style: none;
 }

 body {
    background: #94618E url('https://i.imgur.com/7lXOFIj.jpg?1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;
 }

 #tagline {
   display: block;
   width: 35%;
   padding: 20px;
   float: left;
   color: #F8EEE7;

   font-size: 24px;
   /*outline: 5px outset #94618E;*/
   margin: 20px;
   padding-left: 40px;
   /*background-color: #F4DECB;*/
   opacity: 0.7;
   /*box-shadow: 50px;*/
   border-radius: 25px;
 }

 input[type="password"],
 input[type="username"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   /*
   Get rid of native styling. Read more here:
   http://css-tricks.com/almanac/properties/a/appearance/
   */
   -webkit-appearance: none;
   -moz-appearance: none;
   font-size: 12px;
   cursor: pointer;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }


 #login {
    background-color: #49274A;
    padding: 0;
    border: 0;
    color: #F8EEE7;
    font: 16px Roboto;
    font-weight: 400;
  }

  #login:hover {
    background-color: #94618E;
  }

  /* Clearfix */

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  /* Header */

 body {
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 400;
   /*background: #F8EEE7;*/
 }

 .header {
   background: #49274A;
   color: #fff;
   border-bottom: 1px solid #F4DECB;
 }

 .header a {
   display: block;
   padding: 10px 20px;
   text-decoration: none;
   color: #F8EEE7;
 }

 .header-nav {
   margin: 0 auto;
   width: 80%;
   /*border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;*/
 }

 .header-logo {
   float: left;
   font-weight: 700;
 }

 .header-logo:hover {
   background: #94618E;
 }

 .header-list {
   float: right;
 }

 .header-list > li {
   float: left;
   /*border-left: 1px solid #ccc;*/
 }

 /*.header-list > li:hover {
   background: #000;
 }*/

 /*Conversion Widget*/
 #conversion {
   outline: 2px #F4DECB;
   margin: 60px;
   padding: 20px;
   float: right;
   background-color: #F4DECB;
   opacity: 0.7;
   border-radius: 25px;
 }

 .conversion {
   float: left;
   width: 200px;
 }

 .currency {
   display: block;
   margin: 25px;
   font-size: 20px;
   width: 150px;
 }

 div.transfer {
  display: block;
  background-color: #F8EEE7;
  border-radius: 25px;
  padding: 20px;
  width: 50%;
  margin: 20px;
 }

 .transfer {
   color: #F8EEE7
 }

 .transfer {
   display: block;
   float: left;
   color: #49274A;
 }

 .dashboard {
   color: #F8EEE7;
 }
