/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

/* Reset */
body, div, header, footer, section, h1,
h2, h3, h4, h5, h6, ul, li, p {
 margin: 0;
 padding: 0;
 list-style: none;
}

body {
 font-size: 16px;
 font-weight: 400;
 background: #94618E;
}

body * {
  font-family: "Raleway", sans-serif;
}

input[type="password"],
input[type="username"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 12px;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 14px;
}

button,
input[type="submit"] {
  cursor: pointer;
}

form input[type="text"],
form input[type="password"] {
  display: inline-block;
  height: 40px;
  border-radius: 4px;
  border: 1px solid silver;
  padding-left: 5px;
  font-size: 16px;
  margin-top: 10px;
  background: white;
}

form select {
  display: inline-block;
  height: 44px;
  background: #fff;
}

/* common classes */
.center {
margin: 0 auto;
width: 80%;
}

.btn,
.btn.submit-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10.5px 24px 11.5px 24px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  min-height: 48px;
  background: #233237;
  color: white;
}

.btn.submit-btn {
  color: white;
  background: #233237;
}

.btn.transfer {
  color: white;
  background: #233237;
}

#transfer-title {
  display: block;
  float: left;
}

#transfer-btn {
  float: right;
}

/* Clearfix */

.group:after {
content: "";
display: block;
clear: both;
}

/*****************/

/* START NAV BAR */


#login {
  background-color: #49274A;
  padding: 0;
  border: 0;
  color: #F8EEE7;
  font-weight: 400;
}

#login:hover {
  background-color: #94618E;
}

/* Header */
.header {
 background: #49274A;
 color: #fff;
 border-bottom: 1px solid #F4DECB;
}

.header-nav {
 height: 50px;
 line-height: 50px;
}

.header-logo {
 float: left;
 font-weight: 700;
 font-size: 26px;
 display: block;
 text-decoration: none;
 color: #F8EEE7;
}

.header-logo:hover {
 background: #94618E;
}

.header-list {
  float: right;
}

.header-list:hover {
  cursor: pointer;
}

/* START TAG LINE / CONVERSION WIDGET */
.image-div {
  background: #94618E url('https://i.imgur.com/7lXOFIj.jpg?1');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 500px;
}

.content-section {
    margin-top: 5%;
}

.tagline {
 display: inline-block;
 width: 35%;
 color: #F8EEE7;
 font-size: 24px;
 opacity: 0.7;
}

.sub-header {
  margin-top: 20px;
}

/*Conversion Widget*/

#conversion {
 outline: 2px #F4DECB;
 padding: 20px;
 float: right;
 background-color: #F4DECB;
 opacity: 1.0;
 border-radius: 10px;
}

.conversion {
 float: left;
 width: 200px;
 font-variant: small-caps;
}

.currency-drop-downs > currency {
  margin-top: 30px;
}

.currency-drop-downs:last-child {
  margin-top: -19px;
}

.currency {
 display: block;
 margin: 25px;
 margin-top: 48px;
 font-size: 20px;
 width: 150px;
}

.currency.act-creation {
  margin: 0px;
  margin-top: 10px;
  display: inline-block;
}

div.transfer {
display: block;
background-color: #F8EEE7;
border-radius: 25px;
padding: 20px;
width: 50%;
margin: 20px;
}

.transfer {
 color: #F8EEE7
}

.transfer {
 display: block;
 float: left;
 color: #49274A;
}

div#transfer-widget #conversion {
  float: left;
}

.transfer-clear {
  clear: both;
}

#transferee-search {
  height: 40px;
  border-radius: 4px;
  border: 1px solid silver;
  padding-left: 5px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 20px;
  background: white;
  position: relative;
}

.ul-transferee-search {
  margin-left: 20px;
  border: 1px solid silver;
  width: 174px;
  border-radius: 4px;
  background: white;
  position: absolute;
}

.li-transferee-search {
  padding-left: 10px;
}

.li-transferee-search:hover {
  background: cornflowerblue;
}

.dashboard {
 margin-top: 50px;
 color: #49274A;
 outline: 2px #F4DECB;
 padding: 20px;
 background-color: #F4DECB;
 opacity: 1.0;
 border-radius: 10px;
}

/*Dashboard Table*/

table {
  font-size: 18px;
}

th {
  background-color: #49274A;
  color: #F8EEE7;
  height: 36px;
}

tr {
  height: 36px;
}

tr:nth-child(even) {
  background-color: #F8EEE7;
}

tr:hover {
  background-color: #94618E;
}

/*End of Dashboard Table Styling*/

canvas {
  margin: 30px auto 10px auto;
  padding: 20px;
  background-color: #F4DECB;
  border-radius: 10px;
  display: block;
}

/*Login Modal*/
.modal {
  background-color: #F4DECB;
  border-radius: 10px;
  outline: none;
}

.username-password {
  display: inline-block;;
}

.default-currency {
  float: right;
}
